<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Header 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   
    <div class="container py-5">
        <div class="row align-items-center">

         <!-- Columna de texto -->
          <div class="col-8">
             <h1>
                This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
             </h1>
             <p class="text-muted">
               Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
               porta felis euismod semper. Praesent commodo cursus magna.Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
               porta felis euismod semper. Praesent commodo cursus magna.
             </p>
          </div>

         <!-- Columna de imagen -->
         <div class="col-4 text-center">
            <img src="https://fastly.picsum.photos/id/370/4928/3264.jpg?hmac=UGe0txSnG4hhV-fAoi7e3mTnvQFhYYNcPJJbYFePh5Q" class="img-fluid rounded-circle" alt="Avatar">
         </div>

        </div>
    </div>
</body>
</html>
