<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <section id="services" class="bg-light">
        <div class="container my-5">
            <div class="row align-items-center">
                <div class="col-md-5 text-center">
                    <div class="rounded-circle overflow-hidden mx-auto" style="width: 300px; height: 300px;">
                        <img src="https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?q=80&w=800" class="img-fluid h-100 w-100" style="object-fit: cover;" alt="Circular Image">
                    </div>
                </div>
                <div class="col-md-7 ps-md-0">
                    <h2>The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h2>
                    <p>
                        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html> 